h1 {
  font-size: 45px;
  font-family: cursive;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  text-shadow: 4px 4px 7px rgba(126, 88, 168, 1)
}
/*
font-family: 'Raleway', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Arimo', sans-serif;*/
img .imagen_central{
  float: right;
  text-emphasis-color: 
}
